{% extends "base.html" %}

{% block title %}Exchanges - CoinVibes API{% endblock %}

{% block rightnav %}
{{ macros.rightnav() }}
{% endblock %}

{% block main %}
<article class="container">
    <div class="row-fluid">
        <div class="span3">
            {{ macros.sidebar() }}
        </div><!--/.span3 -->

        <div class="span9">
            <div class="doc-content-box">
                <!-- Class Overview -->
                <div class="page-header">
                    <h2>Exchanges</h2>
                </div>
                
                <p>
                    Below is the human-readable listing of all the exchanges supported by the CoinVibes API, as well as their respective tickers.
                </p>

                <p>
                    Here's a <a href="{{ api_prefix }}/tickers">machine-readable listing</a>.
                </p>
                <!-- /Class Overview -->
                <hr>

                {% for exchange in exchanges %}
                <!-- table Class Summary -->
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th colspan="2">{{ exchange.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currency_pair in exchange.currency_pairs %}
                        <tr id="class-summary">
                            <td style="width: 150px;">
                                <p class="class-scope">{{currency_pair[0]}}/{{currency_pair[1]}}</p>
                            </td>
                            <td class="">
                                <a href="{{ api_prefix }}/tickers/{{ exchange.slug }}/{{currency_pair[0]}}_{{currency_pair[1]}}">{{ api_prefix }}/tickers/{{ exchange.slug }}/{{currency_pair[0]}}_{{currency_pair[1]}}</a>
                               
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table><!-- /table Class Summary -->
                {% endfor %}             

                <div class="shadow-right"> </div><!-- shadow doc-content-box -->
            </div><!--/.doc-content-box -->
        </div><!--/.span9 -->
    </div><!--/.row-fluid -->
</article>
{% endblock %}