{% extends "base.html" %}

{% block title %}CoinVibes API{% endblock %}

{% block rightnav %}
{{ macros.rightnav() }}
{% endblock %}

{% block main %}
<article class="container">
    <div class="row-fluid">
        <div class="span3">
            {{ macros.sidebar() }}
        </div><!--/.span3 -->

        <div class="span9">
            <div class="doc-content-box">
               <h1 class="heading">CoinVibes: The Unified Exchange API</h1>
                <p>Welcome to the CoinVibes API.</p>

                <p>Want to get started?</p>

                <p>Here, try out your first API call:

                <a href="/api/tickers/bitstamp/btc_usd">/api/tickers/bitstamp/btc_usd</a>

                </p>

                <p>Next, check out the various exchanges and currencies on the right panel.
                </p>
                
                <div class="shadow-right"> </div><!-- shadow doc-content-box -->
            </div><!--/.doc-content-box -->
        </div><!--/.span9 -->
    </div><!--/.row-fluid -->
</article><!-- /container -->
{% endblock %}

